## Dense Fusion
*log.txt
*.pth

## mapping
mapping/Core/build
mapping/app/build

## MaskRCNN
# Data files and directories common in repo root
*.h5
results/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
Mask_RCNN/build/
develop-eggs/
Mask_RCNN/dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
# *.egg-info/
.installed.cfg
# *.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
