<?xml version="1.0"?>
<launch>
  <node name="object_pose_estimation" pkg="obj_pose_est" type="objPose_est_node" cwd="node">
  <param name="data_dir" value="/home/hoang/temp/YCB-Video/0000/"/>
  <param name="model_dir" value="/home/hoang/temp/YCB-Video/models/"/>
  <param name="classes_path" value="/home/hoang/temp/YCB-Video//image_sets/classes.txt"/>
  <param name="pose_path" value="/home/hoang/Orebro-Study/CODE/Python_tools/ycb_000_poses.txt"/>
  <param name="num_frames" value="10000"/>
  <param name="fx" value="1066.8"/>
  <param name="fy" value="1067.5"/>
  <param name="cx" value="313.0"/>
  <param name="cy" value="241.3"/>
  <param name="depth_factor" value="10000"/>
  </node>
</launch>